<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.BD_VENTASConnectionString"
            connectionString="Data Source=CARLOSGONZALEZ;Initial Catalog=BD_VENTAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaPresentacion.Properties.Settings.BD_VENTASConnectionString1"
            connectionString="Data Source=CARLOS_GONZALEZ\CARLOSGONZALEZ;Initial Catalog=BD_VENTAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>